<ion-view view-title="Choose a location">
    <ion-nav-bar>
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>
    <div class="bar bar-subheader item-input-inset">
        <label class="item-input-wrapper marginLeft">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search" ng-model="address">
        </label>
        <button class="button button-clear" ng-click="mylocation.geocode(address)">
            Search
        </button>
    </div>
    <ion-content class="has-subheader" scroll="false">
        <div id="map" data-tap-disabled="true" style="height: 100%"></div>
    </ion-content>
</ion-view>
