<ion-view>
    <ion-content>
        <div>
            <div class="item full-image center ">
                <img class="ion-image" src="img/ionic.png" alt="Ionic Demo"/>
            </div>

            <div class="center">
                <h1 class="title">SIGN IN</h1>
            </div>

            <div class="list">
                <label class="item item-input item-floating-label center">
                    <input type="text" ng-model="login.username" placeholder="USERNAME" maxlength="32" autocomplete="off" required>
                </label>
                <label class="item item-input item-floating-label center">
                    <input type="password" ng-model="login.password" placeholder="PASSWORD" maxlength="32" autocomplete="off" required>
                </label>

                <button class="button button-full button-positive"  ng-click="login.authenticateUser()">Continue</button>

              </div>
        </div>
    </ion-content>
</ion-view>



