<ion-view>
    <ion-content>
        <div>
            <div class="list item-text-wrap padding">

                <label class="h2 item item-divider item-input item-floating-label text-center noborder padding-bottom  horizontal_dotted_line">
                    ENABLE NOTIFICATIONS?
                </label>

                <label class="item item-input item-floating-label text-center noborder padding-top-30">
                    <h3 class="title">Notifications are key to this app</h3>
                </label>
                <label class="item item-input item-floating-label text-center noborder padding-top-30">
                    We will inform you when you have of any important messages or notifications.
                </label>

                <div class="button-bar">
                    <button class="button button-stable button-block" ng-click="userpreferences.enablePushNotifications()">ENABLE</button>
                    <button class="button button-stable button-block" ng-click="userpreferences.optOutPushNotifications()">NO THANKS</button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>



