<ion-view>
    <ion-content>
        <div>
            <div class="list item-text-wrap padding-top-50">

                <ul class="list text-center">
                    <li class="item text-center">
                        ENABLE NOTIFICATIONS?
                    </li>

                    <li class="item">
                        <h3 class="title">Notifications are key to this app</h3>
                    </li>
                    <li class="item">
                        We will inform you when you have of any important messages or notifications.
                    </li>
                </ul>
                <div class="button-bar">
                    <button class="button button-stable button-block" ng-click="userpreferences.enablePushNotifications()">ENABLE</button>
                    <button class="button button-stable button-block" ng-click="userpreferences.optOutPushNotifications()">NO THANKS</button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>



